body{
  background-color: lightslategray;
}
.text-class
{
     background-color: bisque;
}
.btn-class
{
  background-color: aquamarine;
}
.heading-class
{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: darkorange;   
  background-color: antiquewhite;
 }